.metadata/
.metadata/.mylyn/tasks.xml.zip

.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/ControleMultimidiaUniversal/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

*.pyc
